/* ==== inicio do header ==== */
.header {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
    background-color: #ffffff;
}

.logo img {
    height: 48px;

}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a{
    font-size: 1.25rem;
    color: #333333;
}

.nav-center a:hover ,
.nav-right a:hover {
    color: #7c3aed;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}

/* ==== Fim do header ==== */

/* ==== inicio do main ==== */
/* ==== inicio do hero ==== */

.hero-section {
    background: url(../imagens/93f6df06-b574-4d35-aa24-5a3cba776bae3.jpg) no-repeat center;
    background-size: cover;

    height: 500px;
    position: relative;
    border-radius: 20px;

}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-content {
    color: #ffffff;
    max-width: 360px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: backgound-color 0.3s, border 0.3s;
    line-height: 23px;
}

.btn-outline {
    border: 2px solid #ffffff;
    background-color: transparent;


}

.btn-filled {
    background-color: #ffffff;
    color: #6329A2;


}

.btn:hover {
    background-color: #6329A2;
    border: #6329A2;
    color: #ffffff;
}

/* ==== fim do hero ==== */
/* ==== inicio dos produtos ==== */

.categories-section {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
}

.category-card {
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.casual {
    background: url(../imagens/tênis\ casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte {
    background: url(../imagens/twnia\ exportivo.jpg) no-repeat center;
    background-size: cover;
}

.moderno {
    background: url(../imagens/tênis\ colorido.jpg) no-repeat center;
    background-size: cover;
}

.feminino {
    background: url(../imagens/tenis\ feminino.jpg) no-repeat center;
    background-size: cover;
}

.futurista {
    background: url(../imagens/tênis\ futurista.jpg) no-repeat center;
    background-size: cover;
}

/* ==== fim dos produtos ==== */
/* ==== inicio dos produtos Grid ==== */

.card {
    position: relative;
    border-radius: 20px;
}

.top1 {
    grid-area: top1;
    background: url(../imagens/card_imagem.jpg) no-repeat center;
    background-size: cover;
}

.top2 {
    grid-area: top2;
    background: url(../imagens/tênis\ roxo\ e\ verde.jpg) no-repeat center;
    background-size: cover;
}

.midl {
    grid-area: midl;
    background: url(../imagens/b40b08e0-cedb-42e7-87f2-5a9a36728b21.jpg) no-repeat center;
    background-size: cover;
}

.midr {
    grid-area: midr;
    background: url(../imagens/tênis\ colorido.jpg) no-repeat center;
    background-size: cover;

}

.bottoml {
    grid-area: bottoml;
    background: url(../imagens/ztênis\ preto\ azul.jpg) no-repeat center;
    background-size: cover;
}

.bottomr {
    grid-area: bottomr;
    background: url(../imagens/tênis\ futurista.jpg) no-repeat center;
    background-size: cover;

}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
    "top1 top1 top2 top2"
    "top1 top1 midl midr"
    "bottoml bottoml midl bottomr"
    ;
    gap: 1.875rem;

}

.top1-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title {
    color: #ededed;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group {
    display: flex;
    gap: 0.75rem;
}

/* ==== fim dos produtos Grid ==== */
/* ==== inicio do footer ==== */

.site-footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-top {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-cool {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    
}

.footer-col h4 {
    color: #ededed;
    font-size: 1.25rem;
    font-weight: 400;
}

.footer-col ul {
    padding-right: 20px;
    
}

.footer-col ul li {
    margin: 16px 0;
    padding: 0;
}

.footer-col li a {
    color: #ffffff;
}

.footer-col li a:hover {
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}
    

.newsletter-form input {
    border-radius: 30px;
    color: #AAAAAA;
    padding: 12px 20px;
    width: 344px;
}

.social-links ul {
    display: flex;
    gap: 1.25rem;
    margin-top: 16px;
}

.social-links li a:hover img {
    opacity: 0.7;
}

.footer-bottom {
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
}